/* ===== Google Font Import - Poppins ===== */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*/
/* latin-ext */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* latin-ext */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* latin-ext */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* latin-ext */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* latin-ext */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: auto;
    height: auto;
}

:root {
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

/*body {
    min-height: 100vh;*/
    /*background-color: var(--primary-color);*/
/*}*/

    body.dark {
        --primary-color: #3A3B3C;
        --panel-color: #242526;
        --text-color: #CCC;
        --black-light-color: #CCC;
        --border-color: #4D4C4C;
        --toggle-color: #FFF;
        --box1-color: #3A3B3C;
        --box2-color: #3A3B3C;
        --box3-color: #3A3B3C;
        --title-icon-color: #CCC;
    }
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #0b3cc1;
    }
.nav-links::-webkit-scrollbar {
    width: 2px; 
}
.nav-links::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.nav-links::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

    .nav-links::-webkit-scrollbar-thumb:hover {
        background: #0b3cc1;
    }

body.dark::-webkit-scrollbar-thumb:hover,
body.dark.nav-links::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

    nav.close {
        width: 73px;
    }

    nav .logo-name {
        display: flex;
        align-items: center;
        letter-spacing: 1px;
    }

    nav .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;

    }

        nav .logo-image img {
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            right: 10px;
        }

    nav .logo-name .logo_name {
        font-size: 1.5vw;
        font-weight: 600;
        color: var(--text-color);
        margin-left: 14px;
        transition: var(--tran-05);
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav .menu-items {
        margin-top: 40px;
        height: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.menu-items li {
    list-style: none;
}

    .menu-items li a {
        display: flex;
        align-items: center;
        height: 50px;
        text-decoration: none;
        position: relative;
    }

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 1.5vw;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name {
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    left: 200px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard {
    left: 70px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 48.2%;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close ~ .dashboard .top {
    
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    font-size: 1.5vw;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .dash-content .title .search-box {
    position: relative;
    height: 45px;
    margin: 0 30px;
}
.dash-content .title .search-box input {
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 150%;
    color: var(--text-color);
    font-size: 1.5vw;
    font-weight: 400;
    outline: none;
}

.dash-content .title .search-box i {
    position: absolute;
    left: 9px;
    font-size: 1.5vw;
    /*z-index: 10;*/
    top: 62%;
    transform: translateY(-50%);
    color: var(--black-light-color);
    background-color: white;
}

.top img {
    width: 40px;
    border-radius: 50%;
}

/*.dashboard .dash-content {
    padding-top: 50px;
}*/

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 10px 0 15px 0;
}

    .dash-content .title i {
        position: relative;
        height: 35px;
        width: 35px;
        background-color: var(--primary-color);
        border-radius: 6px;
        color: var(--title-icon-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5vw;
    }

    .dash-content .title .text {
        font-size: 1.5vw;
        font-weight: 500;
        color: var(--text-color);
        margin-left: 10px;
    }

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .dash-content .boxes .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        width: calc(100% / 3 - 15px);
        padding: 15px 20px;
        background-color: var(--box1-color);
        transition: var(--tran-05);
    }

.boxes .box i {
    font-size: 1.5vw;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title {
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list {
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

        nav.close {
            width: 250px;
        }

        nav .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close .logo_name {
            opacity: 1;
            pointer-events: auto;
        }

        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close li a .link-name {
            opacity: 1;
            pointer-events: auto;
        }

        nav ~ .dashboard {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close ~ .dashboard {
            left: 250px;
            width: calc(100% - 250px);
        }

        nav ~ .dashboard .top {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close ~ .dashboard .top {
            left: 250px;
            width: calc(100% - 250px);
        }

    .activity .activity-data {
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

        nav.close {
            width: 73px;
        }

        nav .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav ~ .dashboard {
            left: 0;
            width: 100%;
        }

        nav.close ~ .dashboard {
           
            width: calc(100% - 73px);
        }

        nav ~ .dashboard .top {
            left: 0;
            width: 100%;
        }

        nav.close ~ .dashboard .top {
            left: 0;
            width: 100%;
        }
}



table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    /*border: 1px solid #ddd;*/
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"], select, textarea {
    /*width: 100%;*/
    /*padding: 10px;*/
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*resize: vertical;*/
}

/* textarea {
            height: 150px;
        }*/

.custom-button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    /*font-size: 16px;*/
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

    .custom-button:hover {
        background-color: #2980b9;
        outline: none;
        box-shadow: 0 0 0 2px #3498db;
    }

    .custom-button:active {
        transform: scale(0.95);
    }


.custom-button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    .custom-button:focus {
        outline: none; 
        box-shadow: 0 0 0 2px #3498db;
    }


    a {
        cursor:pointer;
    }



.custom-table {
    /*width: 100%;*/
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .custom-table th, .custom-table td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center;
    }

    .custom-table th {
        background-color: #f4f4f4;
        color: #333;
    }

    .custom-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .custom-table tbody tr:hover {
        background-color: #f1f1f1;
    }

    .custom-table tfoot {
        background-color: #f4f4f4;
        font-weight: bold;
    }

        .custom-table tfoot td {
            text-align: center;
            padding: 10px;
        }


.autocomplete-items {
    /*position: fixed;
    border-top: none;
    border: 1px solid;
    z-index: 10000;
    background-color: #fff;
    width: 14%;
    border-radius: 4px;*/
    /* right: 61%; */
    /*max-height: 27%;
    height: auto;*/
    /*opacity: 0;*/
    /*visibility:hidden;*/
    /*display:none;
    overflow: auto;*/
    position: absolute;
    top: 62%; /* directly below input */
    left: 5px;
    width: 95%; /* SAME width as textbox */
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 9999;
    max-height: 220px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

    .autocomplete-items div {
        padding: 8px 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
    }

        .autocomplete-items div:hover {
            background-color: #f0f4ff;
        }



.blades {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    height: 20px;
    width: 20px;
}

    .blades div {
        border: 4px solid transparent;
        border-left-color: var(--primary);
        height: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        width: 20px;
    }

        .blades div:nth-child(1) {
            -webkit-transform: rotate(72deg) translateY(5px);
            transform: rotate(72deg) translateY(5px);
        }

        .blades div:nth-child(2) {
            -webkit-transform: rotate(144deg) translateY(5px);
            transform: rotate(144deg) translateY(5px);
        }

        .blades div:nth-child(3) {
            -webkit-transform: rotate(216deg) translateY(5px);
            transform: rotate(216deg) translateY(5px);
        }

        .blades div:nth-child(4) {
            -webkit-transform: rotate(288deg) translateY(5px);
            transform: rotate(288deg) translateY(5px);
        }

        .blades div:nth-child(5) {
            -webkit-transform: rotate(360deg) translateY(5px);
            transform: rotate(360deg) translateY(5px);
        }

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.padding {
    padding: 0px 30px 15px 0px;
}



.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {

    border: 1px solid #dddddd ;
    background: #ffffff;
    color: #333333;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    justify-content: space-evenly;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.5vw;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.5vw;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }






.bill {
    width: 550px;
    margin: 0 auto;
    padding: 30px;
    font-size: 1.5vw;
    line-height: 1.4; 
    margin: 0; 
    padding: 0;
    page-break-inside: avoid;
}

.bill-header, .bill-footer {
    text-align: center;
}

    .bill-header h1 {
        margin: 0;
    }

.bill-table {
    width: 100%;
    margin-top: 10px;
    /*border-collapse: collapse;*/
}

    .bill-table th, .bill-table td {
        border: 0px solid #000;
        padding: 5px;
    }

.bill-total {
    margin-top: 10px;
    font-weight: bold;
}

.hiddenTextbox {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    width: 1px !important;
    height: 1px !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    opacity: 0 !important;
}

#gbox_grid, #gview_grid {
    /*background-image: url('../images/Groceryshopping.svg');*/
    background-color: whitesmoke;
    background-size: 112%;
    background-position: center;
    background-repeat: no-repeat;
}

.ui-jqgrid tr.jqgroup, .ui-jqgrid tr.jqgrow {
    background-color: transparent !important;
}

#gbox_grid td:hover {
    background-color: #e0e0e0 !important;
}

.edit-cell {
    background-color: transparent !important;
}

#info_dialog {
    position: fixed;
    top: 30% !important;
    left: 40% !important;
}

input[name="ItemQuantity"] {
    width: 100%;
    border: 0px;
    background-color: transparent !important;
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr > td {
    text-align: center;
}

.ui-icon-triangle-1-e, .ui-icon-triangle-1-s {
    display: none;
}

p {
    font-size: 1.1vw;
}

nav {
    width: 14%;
    border-right: 0px;
}

.dash-content .title {
    position: relative;
    /*left: 14%;*/
    width: 100%;
}

#gbox_grid td {
    font-weight: lighter;
    font-size: 1.1vw;
}

body {
    font-family: Arial, sans-serif;
}

.form-input {
    width: 50%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-label {
    width: 50%;
    display: flex;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.bill-header, .bill-footer {
    text-align: center;
    margin-bottom: 10px;
}

    .bill-header h2 {
        margin: 0;
    }

.bill-table, .bill-summary {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .bill-table th, .bill-table td {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        text-align: left;
    }

    .bill-summary td {
        padding: 5px;
        text-align: right;
    }

    .bill-summary .total {
        font-weight: bold;
    }

.footer-message {
    font-size: 1.1vw;
    margin-top: 10px;
    text-align: center;
}

.autocomplete-active {
    background-color: grey;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.5);*/
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Popup container */
.popup-container {
    background: white;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: 64%;
    max-height: 80%;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

#productsgrid .ui-state-hover {
    background-color: #dcdcdc !important; /* Light gray background */
    cursor: pointer;
}

#gbox_grid .ui-jqgrid-caption {
    background: aquamarine; /* Your desired color */
}

.ui-jqgrid-titlebar-close {
    display: none;
}

.billclose-btn {
    position: absolute;
    right: 25px;
    top: 25px;
    background: transparent;
    border: outset;
    width: 25px;
}
    .billclose-btn:hover {
        border: ridge;
    }

.modal.finalpopup-container .popup-container .billclose-btn:hover {
    border: ridge;
}

.finalpopup-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 85%;
    position: absolute;
}
.finalprintbtn {
    background-color: aquamarine;
    border: outset;
    display: flex;
    justify-self: center;
    position: relative;
    top: 6px;
    width: 30%;
    padding: 1%;
    justify-content: center;
    font-weight: bold;
}
    .finalprintbtn:hover{
        border:ridge;
    }

    #pager {
        background-color: aquamarine;
    }

.ui-jqgrid-htable th {
    background-color: #e0e0e0 !important;
    font-size: 1.1vw;
}

.ui-jqgrid-htable, #grid {
    width: 100% !important;
}
    /* Optional: Change hover color on the column headers */
    .ui-jqgrid-htable th:hover {
        background-color: #45a049; /* Lighter shade when hovered */
    }

h1 {
    font-size: 2vw;
}

.refreshbtn {
    background: aquamarine;
    width: 10%;
    border: outset;
}
    .refreshbtn:hover {
        border: ridge;
    }

#bill-items #gst-summary table tbody {
    border: 0;
}
.custom-dropdown {
    position: relative;
    width: 60px;
    user-select: none;
    font-family: "Segoe UI", sans-serif;
}

.selected {
    background: linear-gradient(135deg, #f0f0f0, #e0f7f7);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

    .selected:hover {
        border-color: #00bfa6;
        box-shadow: 0 0 6px rgba(0,191,166,0.3);
    }

.options {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.option {
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #e0f7f7;
}

    .option:hover {
        background: linear-gradient(135deg, #00bfa6, aquamarine);
        color: #fff;
    }


.calendar {
    position: absolute;
    top: 52px;
    left: 0;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    z-index: 999;
    width: 260px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.calendar.hidden {
    display: none;
}

.calendar table {
    width: 100%;
    text-align: center;
}

.calendar th {
    padding: 6px;
    color: #4a90e2;
    font-weight: bold;
}

.calendar td {
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
}

    .calendar td:hover {
        background: #4a90e2;
        color: white;
    }

.no-scroll {
    overflow: hidden;
    height: 100%;
}

/* Common menu alignment */
.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    /*padding: 10px 16px;*/
}

/* GIF icon styling */
.menu-gif {
    width: 50px;
    height: 35px;
    object-fit: contain;
    position:relative;
    left:4px;
}

/* Hover effect */
.menu-item:hover {
    background-color: rgba(13, 110, 253, 0.08);
    border-radius: 6px;
}

/* Active menu */
.menu-item.active {
    background-color: rgba(13, 110, 253, 0.15);
    color: var(--primary-color);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s linear infinite;
}

/* Scrollable menu */
.nav-links {
    flex: 1; /* take remaining space */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Fixed bottom section */
.logout-mode {
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
    margin-top: auto; /* push to bottom */
    background: #fff; /* match sidebar */
}

/* Active menu item */
.menu-item.active {
    background-color: rgba(13, 110, 253, 0.15);
    color: #0d6efd;
    border-radius: 6px;
}

    /* Active GIF highlight */
    .menu-item.active .menu-gif {
        filter: drop-shadow(0 0 4px rgba(13,110,253,0.6));
    }

    /* Optional: active left indicator */
    .menu-item.active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 4px;
        height: 100%;
        background: #0d6efd;
        border-radius: 0 4px 4px 0;
    }
.Print-icon:hover {
    filter: drop-shadow(0 0 4px rgba(13,110,253,0.6));
}


.jq-caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
}

.jq-title {
    margin: 0;
}

.jq-caption-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.cap-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.refreshbtn {
    white-space: nowrap;
}

