<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="PandianDB" connectionString="Data Source=Admin-PC\PANDIANSTORE;Initial Catalog=PandianStore;User ID=sa;Password=123;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<clear />
				<rule name="binFolder">
					<match url="^bin/" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="Rewrite" url="Pandian" />
				</rule>
				<rule name="HTMLFolder">
					<match url="^HTMLPages/" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="Rewrite" url="Pandian" />
				</rule>
				<rule name="AssetsFolder">
					<match url="^css/" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="Rewrite" url="Pandian" />
				</rule>
				<rule name="jscriptsFolder">
					<match url="^js/" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="Rewrite" url="Pandian" />
				</rule>
				<rule name="IconsFolder">
					<match url="^Icons/" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="Rewrite" url="Pandian" />
				</rule>
				<rule name="ScriptsFolder">
					<match url="^Scripts" />
					<conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
					</conditions>
					<action type="Rewrite" url="Pandian" />
				</rule>
				<rule name="loginredirect" stopProcessing="true">
					<match url="^HTMLPages/Login.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="Login" />
				</rule>
				<rule name="Loginrewrite" stopProcessing="true">
					<match url="^Login" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/Login.html" />
				</rule>
				<rule name="SideMenuredirect" stopProcessing="true">
					<match url="^HTMLPages/SideMenu.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="SideMenu" />
				</rule>
				<rule name="SideMenurewrite" stopProcessing="true">
					<match url="^SideMenu" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/SideMenu.html" />
				</rule>
				<rule name="MasterDataredirect" stopProcessing="true">
					<match url="^HTMLPages/MasterData.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="MasterData" />
				</rule>
				<rule name="MasterDatarewrite" stopProcessing="true">
					<match url="^MasterData" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/MasterData.html" />
				</rule>
				<rule name="aReturnproductsredirect" stopProcessing="true">
					<match url="^HTMLPages/Returnproducts.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="Returnproducts" />
				</rule>
				<rule name="Returnproductsrewrite" stopProcessing="true">
					<match url="^Returnproducts" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/Returnproducts.html" />
				</rule>
				<rule name="sidebarredirect" stopProcessing="true">
					<match url="^HTMLPages/sidebar.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="sidebar" />
				</rule>
				<rule name="sidebarrewrite" stopProcessing="true">
					<match url="^sidebar" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/sidebar.html" />
				</rule>
				<rule name="DashBoardredirect" stopProcessing="true">
					<match url="^HTMLPages/DashBoard.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="DashBoard" />
				</rule>
				<rule name="DashBoardrewrite" stopProcessing="true">
					<match url="^DashBoard" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/DashBoard.html" />
				</rule>
				<rule name="Billingredirect" stopProcessing="true">
					<match url="^HTMLPages\Billing.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="Billing" />
				</rule>
				<rule name="Billingrewrite" stopProcessing="true">
					<match url="^Billing" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/Billing.html" />
				</rule>
				<rule name="Ledgerredirect" stopProcessing="true">
					<match url="^HTMLPages\Ledger.html" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Redirect" url="Ledger" />
				</rule>
				<rule name="Ledgerrewrite" stopProcessing="true">
					<match url="^Ledger" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="HTMLPages/Ledger.html" />
				</rule>
			</rules>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server Header" patternSyntax="ECMAScript">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
		</rewrite>
		<directoryBrowse enabled="false" />
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<verbs allowUnlisted="true">
					<add verb="OPTIONS" allowed="false" />
				</verbs>
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.12.3.0" newVersion="2.12.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<compilation debug="true" />
	</system.web>
</configuration>